@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  align-items: center;
}
.navbar-start .navbar-item,
.navbar-dropdown .navbar-item,
.navbar-brand .navbar-item{
  color: #3fa9f5;
}
.navbar-brand span {
  color: white;
}
.navbar-brand h1 {
  letter-spacing: 3px;
  font-weight: bold;
}
.button.has-background-orange,.navbar-end .navbar-item .button{
  background-color: orange;
}
.has-background-clean {
  background-color: #9ee0f5;
}

.navbar-start{
    gap:0 15vw;
}


